/* CSS declarations go here */
@width: 1000px;
@height: 500px;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #454545;
}

#header	{
	width: @width+6;
	margin: 10px auto 0px auto;
    background: #999;
    height: 50px;
    .border-radius(5px, 5px, 0, 0);
}

#footer {
	width: @width+6;
	margin: 0 auto 10px auto;
    background: #999;
    .border-radius(0, 0, 5px, 5px);
}

#gameCanvas {
	border-left: 3px solid #999;
    border-right: 3px solid #999;
	width: @width;
	margin: 0 auto;
	height: 500px;
	background-color: #FFF;
}

.border-radius (@tl, @tr, @br, @bl) {
    border-radius: @arguments;
    -moz-border-radius: @arguments;
    -webkit-border-radius: @arguments;
}