* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #454545;
    overflow: hidden;
}

#hudCanvas, #gameCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#hudCanvas {
    z-index: 1;   
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    height: 30px;
    width: 500px;
    color: #000;
}